body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.modal-header{
  display:flex;
  flex-direction: column;
}
.btnSubmit{
  background-color: darkmagenta;
  color: aliceblue;
  border-radius: .3rem;
}
#outer{
  display: flex;
  
}
#calendarList{
display: block;
width: 100%;

}
.smBtn{
  float: right;
  padding: 0;
  margin: 0;
  border-width: 1px;
  background-color: yellow;
  height: 40%;
  font-size: 60%;
  width:50%;

}
#hourTag0,#hourTag1,#hourTag2,#hourTag3,#hourTag4,#hourTag5,#hourTag6,#hourTag7,
#hourTag8,#hourTag9,#hourTag10,#hourTag11,#hourTag12,#hourTag13,#hourTag14,#hourTag15,
#hourTag16,#hourTag17,#hourTag18,#hourTag19,#hourTag20,#hourTag21,#hourTag22,#hourTag23
{
  height: 20px;
}