body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.modal-header{
  display:flex;
  flex-direction: column;
}
.btnSubmit{
  background-color: darkmagenta;
  color: aliceblue;
  border-radius: .3rem;
}
#outer{
  display: flex;
  
}
#calendarList{
display: block;
width: 100%;

}
.smBtn{
  float: right;
  padding: 0;
  margin: 0;
  border-width: 1px;
  background-color: yellow;
  height: 40%;
  font-size: 60%;
  width:50%;

}